{% extends 'base.html' %}

{% block abc %}
    <main style="margin-left: 20px; margin-top: 30px; margin-right: 20px;">
        <section id="about-us">
            <h1>About Us</h1>
            <p>We are a leading e-commerce platform, committed to providing the best online shopping experience. Our team is dedicated to bringing you the highest quality products at competitive prices.</p>
            <p>Founded in 2024, our mission is to make online shopping easy and convenient for our customers. We believe in customer satisfaction and strive to meet and exceed customer expectations.</p>
        </section>
    </main>
    <div class="main" style="margin: 20px;">
        <div class="contact-item" style="margin: 10px 0; display: flex; align-items: center; font-size: larger;">
            <i class="fa-solid fa-location-crosshairs" style="font-size: x-large; color: rgb(18, 176, 224);"></i>
            <span>&nbsp; Your Address</span>
        </div>
        <div class="contact-item">
            <i class="fa-solid fa-phone" style="font-size: x-large; color: rgb(18, 176, 224);"></i>
            <span>&nbsp; <a href="tel: +91 8989865868" style="text-decoration-line: none;">+91 8989865868</a></span>
        </div>
        <div class="contact-item">
            <i class="fa-regular fa-envelope" style="font-size: x-large; color: rgb(18, 176, 224);"></i>
            <span>&nbsp; <a href="mailto: ritobo7228@bsomek.com" style="text-decoration-line: none; color: black;">ritobo7228@bsomek.com</a></span>
        </div>
    </div>
{% endblock %}