{% extends 'base.html' %}
{% load static %}
{% block abc %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Password Reset Email Sent</title>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
</head>
<body>
    <div class="w3l-loginblock signinform">
        <div class="logo">
            <a class="brand-logo" href="index.html">Password Reset Email Sent</a>
        </div>
        <div class="row map-content-9">
            <div class="info-grids">
                <p>A password reset email has been sent to your email address.</p>
            </div>
        </div>
    </div>
    <!-- fontawesome v5-->
    <script src="{% static 'js/fontawesome.js' %}"></script>
</body>
</html>
{% endblock %}
