{% extends 'base.html' %}
{% load static %}
{% block abc %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Reset Password</title>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="w3l-loginblock signinform" style="margin-top: 50px; margin-left: 20px;">
        <div class="logo">
            <h4 style="text-align: center;"><a class="brand-logo" href="index.html">Go Back To Home Page</a></h4>
        </div>
        <div class="row map-content-9">
            <div class="info-grids">
                <form method="post" class="">
                    {% csrf_token %}
                    <div class="form-grid">
                        <div class="input-field">
                            <label style="font-size: large;">New Password &nbsp; </label>
                            <input type="password" name="new_password" id="new_password" placeholder="Enter your new password" required="" style="margin-left: 5px;">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-style">Change Password</button>
                </form>
            </div>
        </div>
    </div>
    <!-- fontawesome v5-->
    <script src="{% static 'js/fontawesome.js' %}"></script>
</body>
</html>
{% endblock %}
